extends layout

block content

    section.sttree-list
        table.stt.sttree-list
            thead
                tr 
                    th 가로수명
                    th 가로수길시작위도
                    th 가로수길종료위도
                    th 가로수종류
            tbody
            